.card
    .card-header 
        | Juice Grid
    .card-body
        .card-body--description
        | Lightweight, simple, grid system using CSS Grid OR Flexbox

.card
    .card-header 
        | Cardboard
    .card-body
        .card-body--description
        | Ultralight CSS boilerplate

.card
    .card-header 
        | Pug & Sass Boilerplate
    .card-body
        .card-body--description
        | Boilerplate for web development with pug and sass. Built using npm scripts. No gulp, grunt, or webpack.

.card
    .card-header 
        | React starter app
    .card-body
        .card-body--description
        | A better starting point for react